<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yizhidou.paper.mapper.PapersMapper" >

  <resultMap id="BaseResultMap" type="com.yizhidou.paper.entity.Papers" >
    <constructor >
      <idArg column="paper_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="papername" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="total_score" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="pass" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="scope" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    paper_id, papername, total_score, pass, scope
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yizhidou.paper.entity.PapersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from papers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from papers
    where paper_id = #{paperId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from papers
    where paper_id = #{paperId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yizhidou.paper.entity.PapersExample" >
    delete from papers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yizhidou.paper.entity.Papers" >
    insert into papers (paper_id, papername, total_score, 
      pass, scope)
    values (#{paperId,jdbcType=INTEGER}, #{papername,jdbcType=VARCHAR}, #{totalScore,jdbcType=INTEGER}, 
      #{pass,jdbcType=INTEGER}, #{scope,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yizhidou.paper.entity.Papers"
          useGeneratedKeys="true" keyProperty="paperId">
    insert into papers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paperId != null" >
        paper_id,
      </if>
      <if test="papername != null" >
        papername,
      </if>
      <if test="totalScore != null" >
        total_score,
      </if>
      <if test="pass != null" >
        pass,
      </if>
      <if test="scope != null" >
        scope,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paperId != null" >
        #{paperId,jdbcType=INTEGER},
      </if>
      <if test="papername != null" >
        #{papername,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null" >
        #{totalScore,jdbcType=INTEGER},
      </if>
      <if test="pass != null" >
        #{pass,jdbcType=INTEGER},
      </if>
      <if test="scope != null" >
        #{scope,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yizhidou.paper.entity.PapersExample" resultType="java.lang.Integer" >
    select count(*) from papers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update papers
    <set >
      <if test="record.paperId != null" >
        paper_id = #{record.paperId,jdbcType=INTEGER},
      </if>
      <if test="record.papername != null" >
        papername = #{record.papername,jdbcType=VARCHAR},
      </if>
      <if test="record.totalScore != null" >
        total_score = #{record.totalScore,jdbcType=INTEGER},
      </if>
      <if test="record.pass != null" >
        pass = #{record.pass,jdbcType=INTEGER},
      </if>
      <if test="record.scope != null" >
        scope = #{record.scope,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update papers
    set paper_id = #{record.paperId,jdbcType=INTEGER},
      papername = #{record.papername,jdbcType=VARCHAR},
      total_score = #{record.totalScore,jdbcType=INTEGER},
      pass = #{record.pass,jdbcType=INTEGER},
      scope = #{record.scope,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yizhidou.paper.entity.Papers" >
    update papers
    <set >
      <if test="papername != null" >
        papername = #{papername,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null" >
        total_score = #{totalScore,jdbcType=INTEGER},
      </if>
      <if test="pass != null" >
        pass = #{pass,jdbcType=INTEGER},
      </if>
      <if test="scope != null" >
        scope = #{scope,jdbcType=VARCHAR},
      </if>
    </set>
    where paper_id = #{paperId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yizhidou.paper.entity.Papers" >
    update papers
    set papername = #{papername,jdbcType=VARCHAR},
      total_score = #{totalScore,jdbcType=INTEGER},
      pass = #{pass,jdbcType=INTEGER},
      scope = #{scope,jdbcType=VARCHAR}
    where paper_id = #{paperId,jdbcType=INTEGER}
  </update>
</mapper>