<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.yizhidou.paper.mapper.PersonMapper">

    <!--Integer insertPerson(Person person);-->
    <insert id="insertPerson">
        insert into person(
            username,password,
            age,gender,
            tel,email,
            QQ,departmentId
        )values (
            #{username},#{password},
            #{age},#{gender},
            #{tel},#{email},
            #{qq},#{departmentId}
        )

    </insert>

    <!--Integer deleteByPid(Integer pid);-->
    <delete id="deleteByPid">
        delete
            from
        person
            where
        pid=#{pid}
    </delete>

    <update id="updatePassword">
        update
            person
        set
            password = #{password}
        where
            pid = #{pid}
    </update>


    <!--Integer updateInfo(Person person)-->
    <update id="updateInfo">
        update
        person
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="tel != null">
                tel = #{tel},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="qq != null">
                QQ = #{qq}
            </if>
        </set>
        where
        pid = #{pid}
    </update>

    <select id="fingByPid" resultType="com.yizhidou.paper.entity.Person">
        SELECT
			username,password,age,
            gender,tel,
            email,QQ
		FROM
			person
		WHERE
			pid=#{pid}
    </select>

    <select id="findByUsername" resultType="com.yizhidou.paper.entity.Person">
        SELECT
			pid, username,
			password
		FROM
			person
		WHERE
			username=#{username}
    </select>
</mapper>
